@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.gradient-text {
  display: inline-block;
  background-image: linear-gradient(to right, #3b82f6 0%, #ef4444 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-bottom: 0.4em; /* Small padding to avoid clipping descenders */
  background-position: 0%;
  @apply text-6xl;
}

h1 {
  color: #333333;
}

h3 {
  color: #333333;
}

p {
  color: #585858;
}

.copybtn {
  transition: 300ms;
}

.link {
  color: #444;
  font-weight: 600;
}

.link:hover {
  color: #333;
  text-decoration: underline;
}

.primarybutton {
  background-color: #333333;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 500;
  color: #fff;
  transition: 0.1s;
}

.primarybutton:hover {
  background-color: #222;
}

.secondarybutton {
  background-color: #f7f7f7;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  color: #333333;
  padding-bottom: 0.5rem;
  font-weight: 500;
  transition: 0.1s;
}

.secondarybutton:hover {
  background-color: #f3f3f3;
}

img {
  user-select: none;
}

.badge {
  transition: 300ms;
}


.deploybutton {
  background-color: #00b1a3;
  padding-left: 7.25rem;
  padding-right: 7.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: 700;
  color: #fff;
  transition: 300ms;
}

.deploybutton:hover {
  background-color: #3cbdb2;
}


.primarybutton {
  background-color: #585858;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: 500;
  color: #fff;
  transition: 300ms;
}

.primarybutton:hover {
  background-color: #4a4a4a;
}

.discordbutton {
  background-color: #686868;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: 500;
  color: #fff;
  transition: 300ms;
}

.discordbutton:hover {
  background-color: #585858;
}

.zeropsbutton {
  background-color: #787878;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: 500;
  color: #ffffff;
  transition: 300ms;
}
.zeropsbutton:hover {
  background-color: #686868;
}

.zerops:hover {
  color: #df4b57;
}